<section class="container-Advantages">
  <h2 class="visually-hidden">Advantages</h2>
  <div class="advantages-bloc-bloc container">
    <div class="advantages-container">
      <ul class="advantages-list">
        <div class="advantages-bloc-box">
          <div class="advantages-box-1">
            <li class="advantages-item">
              <h4 class="advantages-title">01</h4>
              <div class="advantages-line"></div>
              <p class="advantages-text text-one">
                Swimming and water sports: try your hand at water skiing
              </p>
            </li>
          </div>
          <div class="advantages-box-2">
            <li class="advantages-item">
              <h4 class="advantages-title">02</h4>
              <div class="advantages-line"></div>
              <p class="advantages-text text-two">
                Fishing: try to catch your own dinner
              </p>
            </li>
          </div>
        </div>
        <div class="advantages-bloc-box">
          <div class="advantages-box-3">
            <li class="advantages-item">
              <h4 class="advantages-title">03</h4>
              <div class="advantages-line"></div>
              <p class="advantages-text text-three">
                Sightseeing tours: take a shore or island tour, enjoy the views
                and sunsets from the water
              </p>
            </li>
          </div>
          <div class="advantages-box-4">
            <li class="advantages-item">
              <h4 class="advantages-title">04</h4>
              <div class="advantages-line"></div>
              <p class="advantages-text text-four">
                Rest and relaxation: read a book or listen to music while
                enjoying the outdoor atmosphere.
              </p>
            </li>
          </div>
        </div>
      </ul>
    </div>
    <picture>
      <source
        media="(min-width: 1280px)"
        srcset="/img/adv-desc-1x.jpg, /img/adv-desc-2x.jpg"
        type="img/jpg"
      />
      <source
        media="(min-width: 768px)"
        srcset="/img/adv-tab-1x.jpg, /img/adv-tab-2x.jpg"
        type="img/jpg"
      />
      <source
        media="(max-width: 767px)"
        srcset="/img/adv-mob-1x.jpg, /img/adv-mob-2x.jpg"
        type="img/jpg"
      />
      <img
        class="advantages-img"
        src="img/adv-desc-1x.jpg"
        alt="photo-yachtyet"
        width="432px"
      />
    </picture>
  </div>
</section>
