<section class="container-Advantages">
  <h2 class="visually-hidden">Advantages</h2>
  <div class="advantages-bloc container">
    <div class="advantages-container">
      <ol class="advantages-list">
        <li class="advantages-item">
          <p class="advantages-text text-advantages">
            Swimming and water sports: try your hand at water skiing
          </p>
        </li>

        <li class="advantages-item">
          <p class="advantages-text text-advantages text2">
            Fishing: try to catch your own dinner
          </p>
        </li>

        <li class="advantages-item">
          <p class="advantages-text text-advantages text3">
            Sightseeing tours: take a shore or island tour, enjoy the views and
            sunsets from the water
          </p>
        </li>

        <li class="advantages-item">
          <p class="advantages-text text-advantages text4">
            Rest and relaxation: read a book or listen to music while enjoying
            the outdoor atmosphere.
          </p>
        </li>
      </ol>
    </div>
    <picture>
      <source
        media="(min-width: 1280px)"
        srcset="/img/adv-desc-1x.jpg 1x, /img/adv-desc-2x.jpg 2x"
        type="img/jpg"
      />
      <source
        media="(min-width: 768px)"
        srcset="/img/adv-tab-1x.jpg 1x, /img/adv-tab-2x.jpg 2x"
        type="img/jpg"
      />
      <source
        media="(max-width: 767px)"
        srcset="/img/adv-mob-1x.jpg 1x, /img/adv-mob-2x.jpg 2x"
        type="img/jpg"
      />
      <img
        class="advantages-img"
        src="img/adv-desc-1x.jpg"
        alt="photo-yachtyet"
      />
    </picture>
  </div>
</section>
