<footer class="fotter-yacht-container">
  <div class="container-footer page-footer-yacht">
    <div class="div-footer">
      <a class="footer-logo-yacht" href="./index.html">yachtjet</a>
      <nav class="footer-nav">
        <ul class="nav-list">
          <li class="nav-item">
            <a href="#about" class="nav-link">About</a>
          </li>
          <li class="nav-item">
            <a href="#our_yachts" class="nav-link">Yachts</a>
          </li>
          <li class="nav-item">
            <a href="#reviews" class="nav-link">Reviews</a>
          </li>
        </ul>
      </nav>
      <ul class="icon-list">
        <li class="icon-item">
          <a
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            class="icon-link-footer"
          >
            <svg class="soc-icon" width="20" height="20">
              <use href="/img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="icon-item">
          <a
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
            class="icon-link-footer"
          >
            <svg class="soc-icon" width="19" height="19">
              <use href="/img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
        <li class="icon-item">
          <a
            href="https://www.facebook.com/goITclub"
            target="_blank"
            class="icon-link-footer"
          >
            <svg class="soc-icon" width="19" height="19">
              <use href="/img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <p class="title-footer">
      No matter which yacht you choose, our experienced crew will ensure that
      your journey is smooth and enjoyable.
    </p>
    <p class="article-footer">
      2023. Yacht Adventures
      <span class="span-footer-article">Privacy Police</span>
    </p>
  </div>
</footer>
