<footer class="page-footer-yacht">
  <div class="container fotter-yacht-container">
    <div class="div-container-footer">
      <a class="footer-logo-yacht" href="./index.html">yachtjet</a>
      <nav class="footer-nav">
        <ul class="nav-list">
          <li class="nav-item">
            <a href="" class="nav-link">About</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link">Yachts</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link">Reviews</a>
          </li>
        </ul>
      </nav>
      <ul class="icon-list">
        <li class="icon-item">
          <a href="" class="icon-link">
            <svg class="soc-icon" width="24" height="24">
              <use href="/img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="icon-item">
          <a href="" class="icon-link">
            <svg class="soc-icon" width="24" height="24">
              <use href="/img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
        <li class="icon-item">
          <a href="" class="icon-link">
            <svg class="soc-icon" width="24" height="24">
              <use href="/img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <h2 class="title-footer">
      No matter which yacht you choose, our experienced crew will ensure that
      your journey is smooth and enjoyable.
    </h2>
    <p class="article-footer">
      2023. Yacht Adventures
      <span class="span-footer-article">Privacy Police</span>
    </p>
  </div>
</footer>