<header class="header-section">
  <div class="container header-container">
    <a href="" class="header-logo">yachtjet</a>
    <nav class="header-nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a href="#about" class="nav-link current">About</a>
        </li>
        <li class="nav-item"><a href="#yachts" class="nav-link">Yachts</a></li>
        <li class="nav-item">
          <a href="#reviews" class="nav-link">Reviews</a>
        </li>
      </ul>
    </nav>
    <ul class="icon-list">
      <li class="icon-item">
        <a href="https://www.instagram.com/goitclub/" class="icon-link">
          <svg class="soc-icon" width="24" height="24">
            <use href="../img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="icon-item">
        <a href="https://www.youtube.com/c/GoIT " class="icon-link">
          <svg class="soc-icon" width="24" height="24">
            <use href="../img/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
      <li class="icon-item">
        <a href="https://www.facebook.com/goITclub/" class="icon-link">
          <svg class="soc-icon" width="24" height="24">
            <use href="../img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
    <button type="button" class="mobile-button" data-menu-open>
      <svg class="button-icon" width="16" height="16">
        <use href="../img/icons.svg#icon-menu-burger"></use>
      </svg>
    </button>
  </div>
</header>
