
<header class="container">
  <div class="header-container"></div>
  <div class="header-container">
    <a href="" class="header-logo">yachtjet</a>
    <nav class="header-nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a href="" class="nav-link current">About</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">Yachts</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">Reviews</a>
        </li>
      </ul>
    </nav>
    <ul class="icon-list">
      <li class="icon-item">
        <a href="" class="icon-link">
          <svg class="soc-icon" width="24" height="24">
            <use href="../img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="icon-item">
        <a href="" class="icon-link">
          <svg class="soc-icon" width="24" height="24">
            <use href="../img/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
      <li class="icon-item">
        <a href="" class="icon-link">
          <svg class="soc-icon" width="24" height="24">
            <use href="../img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
    <button type="button" class="mobile-button">
      <svg class="button-icon" width="28" height="28">
        <use href=""></use>
      </svg>
    </button>
  </div>
</header>


