<header class="header-section">
  <div class="header-container container">
    <a href="" class="header-logo">yachtjet</a>
    <nav class="header-nav">
      <ul class="nav-list-header">
        <li class="nav-item">
          <a href="#about" class="header-nav-link current">About</a>
        </li>
        <li class="nav-item">
          <a href="#our_yachts" class="header-nav-link">Yachts</a>
        </li>
        <li class="nav-item">
          <a href="#reviews" class="header-nav-link">Reviews</a>
        </li>
      </ul>
    </nav>
    <ul class="icon-list-soc">
      <li class="icon-item-soc">
        <a
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          class="icon-link-soc-header"
        >
          <svg class="soc-icon-soc" width="24" height="24">
            <use href="./img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="icon-item-soc">
        <a
          href="https://www.youtube.com/c/GoIT "
          target="_blank"
          class="icon-link-soc-header"
        >
          <svg class="soc-icon-soc" width="24" height="24">
            <use href="./img/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
      <li class="icon-item-soc">
        <a
          href="https://www.facebook.com/goITclub/"
          target="_blank"
          class="icon-link-soc-header"
        >
          <svg class="soc-icon-soc" width="24" height="24">
            <use href="./img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
    <button
      type="button"
      class="mobile-button"
      data-menu-open
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="button-icon" width="16" height="16">
        <use href="./img/icons.svg#icon-menu-burger"></use>
      </svg>
    </button>
  </div>
</header>
