<div class="mobile-menu" data-menu>
  <div class="mobile-menu-container container">
    <div class="logo-container">
      <a href="" class="mobile-menu-logo">yachtjet</a>
      <button class="mobile-menu-close js-close-menu" data-menu-close>
        <svg class="menu-close-icon" width="16" height="16">
          <use href="/img/icons.svg#icon-close"></use>
        </svg>
      </button>
    </div>
    <nav class="mobile-menu-nav">
      <ul class="mobile-menu-list">
        <li class="mobile-menu-item">
          <a href="#about" class="mobile-menu-link">About</a>
        </li>
        <li class="mobile-menu-item">
          <a href="#our_yachts" class="mobile-menu-link">Yachts</a>
        </li>
        <li class="mobile-menu-item">
          <a href="#reviews" class="mobile-menu-link">Reviews</a>
        </li>
      </ul>
    </nav>
    <div class="contacts-conteiner">
      <ul class="contact-list">
        <li class="contacts-item">
          <a
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            rel="noopener noreferrer"
            class="contacts-link"
            ><svg class="contacts-icon" width="19" height="19">
              <use href="/img/icons.svg#icon-instagram"></use></svg
          ></a>
        </li>
        <li class="contacts-item">
          <a
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
            rel="noopener noreferrer"
            class="contacts-link"
            ><svg class="contacts-icon" width="20" height="20">
              <use href="/img/icons.svg#icon-youtube"></use></svg
          ></a>
        </li>
        <li class="contacts-item">
          <a
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            rel="noopener noreferrer"
            class="contacts-link"
            ><svg class="contacts-icon" width="20" height="20">
              <use href="/img/icons.svg#icon-facebook"></use></svg
          ></a>
        </li>
      </ul>
    </div>
  </div>
</div>
