<section class="mob-menu">
  <div class="mobile-menu is-open" data-menu>
    <div class="mobile-menu-conteiner">
      <div class="logo-container">
        <a href="" class="mobile-menu-logo">yachtjet</a>
        <button class="mobile-menu-close" data-menu-close>
          <svg class="menu-close-icon" width="24" height="24">
            <use href=""></use>
          </svg>
        </button>
      </div>
      <nav class="mobile-menu-nav">
        <ul class="mobile-menu-list">
          <li class="mobile-menu-item">
            <a href="#about" class="mobile-menu-link">About</a>
          </li>
          <li class="mobile-menu-item">
            <a href="#services" class="mobile-menu-link">Yachts</a>
          </li>
          <li class="mobile-menu-item">
            <a href="#contact" class="mobile-menu-link">Reviews</a>
          </li>
        </ul>
      </nav>
      <div class="contacts-conteiner">
        <ul class="contact-list">
          <li class="contacts-item">
            <a href="" class="contacts-link">inst</a>
          </li>
          <li class="contacts-item">
            <a href="" class="contacts-link">youtube</a>
          </li>
          <li class="contacts-item">
            <a href="" class="contacts-link">fb</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
