<section id="our_yachts" class="our-yahts-section">
  <div class="container-our our-yahts-container">
    <h2 class="our-yahts-title">
      Choose your dream yacht and sail away into the sunset
    </h2>
    <ul class="our-yachts-list">
      <li class="our-yachts-item">
        <picture>
          <source
            srcset="
              /img/our-yachts/arrow-des1x.jpg 1x,
              /img/our-yachts/arrow-des2x.jpg 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              /img/our-yachts/arrow-tab1x.jpg 1x,
              /img/our-yachts/arrow-tab2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              /img/our-yachts/arrow-mob1x.jpg 1x,
              /img/our-yachts/arrow-mob2x.jpg 2x
            "
            media="(max-width:767px)"
          />
          <img
            class="yachts-item-img"
            src="/img/our-yachts/arrow-mob1x.jpg "
            alt="Our yahts"
          />
        </picture>
        <div class="yachts-our-item">
          <h3 class="yachts-title-item">ARROW</h3>
          <p class="yachts-class-item">LUXURY YAHTS</p>
        </div>
        <table class="table-our-price">
          <tr>
            <td class="first-child">LENGTH</td>
            <td class="second-child-expand"></td>
            <td class="last-child">48m(155ft)</td>
          </tr>
          <tr>
            <td class="first-child">BUILDER</td>
            <td class="second-child-expand"></td>
            <td class="last-child">Admiral</td>
          </tr>
          <tr>
            <td class="first-child">BUILT</td>
            <td class="second-child-expand"></td>
            <td class="last-child">2021</td>
          </tr>
          <tr>
            <td class="first-child">GUESTS</td>
            <td class="second-child-expand"></td>
            <td class="last-child">11 in 5 cabins</td>
          </tr>
          <tr>
            <td class="first-child">PRICE</td>
            <td class="second-child expand"></td>
            <td class="last-child">€33,500,000</td>
          </tr>
        </table>
      </li>
      <li class="our-yachts-item">
        <picture>
          <source
            srcset="
              /img/our-yachts/benetti-des1x.jpg 1x,
              /img/our-yachts/benetti-des2x.jpg 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              /img/our-yachts/benetti-tab1x.jpg 1x,
              /img/our-yachts/benetti-tab2x.jpg 2x
            "
            media="(min-width:768px)"
          />

          <img
            class="yachts-item-img"
            src="/img/our-yachts/benetti-tab1x.jpg"
            alt="Our yahts"
          />
        </picture>
        <div class="yachts-our-item">
          <h3 class="yachts-title-item">BENETTI OASIS 40M BO122</h3>
          <p class="yachts-class-item">LUXURY YAHTS</p>
        </div>
        <table class="table-our-price">
          <tr>
            <td class="first-child">LENGTH</td>
            <td class="second-child-expand"></td>
            <td class="last-child">41m (133ft)</td>
          </tr>
          <tr>
            <td class="first-child">BUILDER</td>
            <td class="second-child-expand"></td>
            <td class="last-child">Benetti</td>
          </tr>
          <tr>
            <td class="first-child">BUILT</td>
            <td class="second-child-expand"></td>
            <td class="last-child">2025</td>
          </tr>
          <tr>
            <td class="first-child">GUESTS</td>
            <td class="second-child-expand"></td>
            <td class="last-child">10 in 5 cabins</td>
          </tr>
          <tr>
            <td class="first-child">PRICE</td>
            <td class="second-child-expand"></td>
            <td class="last-child">€23,210,000</td>
          </tr>
        </table>
      </li>
      <li class="our-yachts-item">
        <picture>
          <source
            srcset="
              /img/our-yachts/belle-des1x.jpg 1x,
              /img/our-yachts/belle-des2x.jpg 2x
            "
            media="(min-width:1280px)"
          />
          <img
            class="yachts-item-img"
            src="/img/our-yachts/belle-des1x.jpg"
            alt="Our yahts"
          />
        </picture>
        <div class="yachts-our-item">
          <h3 class="yachts-title-item">BELLE ANNA</h3>
          <p class="yachts-class-item">LUXURY YAHTS</p>
        </div>
        <table class="table-our-price">
          <tr>
            <td class="first-child">LENGTH</td>
            <td class="second-child-expand"></td>
            <td class="last-child">50m(155ft)</td>
          </tr>
          <tr>
            <td class="first-child">BUILDER</td>
            <td class="second-child-expand"></td>
            <td class="last-child">ISA</td>
          </tr>
          <tr>
            <td class="first-child">BUILT</td>
            <td class="second-child-expand"></td>
            <td class="last-child">2012</td>
          </tr>
          <tr>
            <td class="first-child">GUESTS</td>
            <td class="second-child-expand"></td>
            <td class="last-child">12 in 6 cabins</td>
          </tr>
          <tr>
            <td class="first-child">PRICE</td>
            <td class="second-child-expand"></td>
            <td class="last-child">€21,000,000</td>
          </tr>
        </table>
      </li>
    </ul>
    <a class="our-review-btn" href="#Rent-a-yacht">Yacht rental</a>
  </div>
</section>
