<section class="s6 rent-section">
  <h2 class="rent-title">Rent a yacht now</h2>
  <div class="rent-conteiner-form">
    <form class="rent-form" action="">
      <input type="text" />
      <input type="email" />
      <input type="tel" />
      <textares> </textares>
    </form>
  </div>
  <button class="rent-btn" type="submit">Send</button>
  <picture></picture>
    <source
      srcset="
        ../img/rent-a-yacht/Photorent-yacht1x.jpg 1x,
        ../img/rent-a-yacht/Photorent-yacht2x.jpg 2x
      "
      media="(max-width: 320px)" />
    <source
      srcset="
        ../img/rent-a-yacht/Photorent-yacht-tab1x.jpg 1x,
        ../img/rent-a-yacht/Photorent-yacht-tab2x.jpg 2x
      "
      media="(min-width: 768px)" />
    <source
      srcset="
        ../img/rent-a-yacht/Photorent-yacht1x.jpg 1x,
        ../img/rent-a-yacht/Photorent-yacht2x.jpg 2x
      "
      media="(min-width: 1280px)" />
    <img
      src="../img/rent-a-yacht/Photorent-yacht-desk1x.jpg"
      alt="rent-black-yacht"
  /></picture>
</section>
