<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/rent_a_yacht.css" />
    <title>Document</title>
  </head>
  <body>
    <section class="rent-section">
      <div class="container">
        <div class="rent-conteiner-form">
          <h2 class="rent-title">Rent a yacht now</h2>
          <form class="rent-form" action="">
            <input
              class="rent-input"
              type="text"
              name="rent-placeholder"
              id="rent-text"
              placeholder="Full Name"
            />

            <input
              class="rent-input"
              type="email"
              name="rent-placeholder"
              id="rent-email"
              placeholder="Email"
            />

            <input
              class="rent-input"
              type="tel"
              name="rent-placeholder"
              id="rent-tel"
              placeholder="Phone number"
            />

            <textarea class="rent-textarea" placeholder="Comment"></textarea>
          </form>
        </div>
        <button class="rent-btn" type="submit">Send</button>
        <!-- <picture>
          <source
            srcset="
              ../img/rent-a-yacht/Photorent-yacht1x.jpg 1x,
              ../img/rent-a-yacht/Photorent-yacht2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ../img/rent-a-yacht/Photorent-yacht-tab1x.jpg 1x,
              ../img/rent-a-yacht/Photorent-yacht-tab2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ../img/rent-a-yacht/Photorent-yacht1x.jpg 1x,
              ../img/rent-a-yacht/Photorent-yacht2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <img
            class="rent-yacht-img"
            src="./images/dfjmjhg/Photorent-yacht1x.jpg"
            alt="rent-black-yacht"
          />
        </picture> -->
      </div>
    </section>
  </body>
</html>
<!-- <section class="rent-section">
  <div class="container">
    <div class="rent-conteiner-form">
      <h2 class="rent-title">Rent a yacht now</h2>
      <form class="rent-form" action="">
        <input
          class="rent-input"
          type="text"
          name="rent-placeholder"
          id="rent-text"
          placeholder="Full Name"
        />

        <input
          class="rent-input"
          type="email"
          name="rent-placeholder"
          id="rent-email"
          placeholder="Email"
        />

        <input
          class="rent-input"
          type="tel"
          name="rent-placeholder"
          id="rent-tel"
          placeholder="Phone number"
        />

        <textarea class="rent-textarea" placeholder="Comment"></textarea>
      </form>
    </div>
    <button class="rent-btn" type="submit">Send</button>
    <picture>
      <source
        srcset="
          ../img/rent-a-yacht/Photorent-yacht1x.jpg 1x,
          ../img/rent-a-yacht/Photorent-yacht2x.jpg 2x
        "
        media="(max-width: 767px)"
      />
      <source
        srcset="
          ../img/rent-a-yacht/Photorent-yacht-tab1x.jpg 1x,
          ../img/rent-a-yacht/Photorent-yacht-tab2x.jpg 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ../img/rent-a-yacht/Photorent-yacht1x.jpg 1x,
          ../img/rent-a-yacht/Photorent-yacht2x.jpg 2x
        "
        media="(min-width: 1280px)"
      />
      <img
        width="335"
        height="412"
        class="rent-yacht-img"
        src="./images/dfjmjhg/Photorent-yacht1x.jpg"
        alt="rent-black-yacht"
      />
    </picture>
  </div>
</section> -->
