<section class="section-reviews-item" id="reviews">
  <div class="container reviews">
    <h2 class="reviews-title">
      YachtJet take pride in providing the best possible service and experience
      to our customers
    </h2>
    <p class="reviews-text">
      Our customers have enjoyed unforgettable moments on our yachts. Don't just
      take our word for it - read on to find out what they have to say about
      their journey with us.
    </p>

    <ul class="clients-list">
      <li class="clients-item">
        <div class="reviews-card">
          <div class="clients-item-wrapper">
            <picture>
              <source
                srcset="
                  /img/images_reviews/image1desk.png     1x,
                  /img/images_reviews/image1_2x_desk.png 2x
                "
                media="(min-width:1280px)"
              />
              <source
                srcset="
                  /img/images_reviews/image1tabl.png     1x,
                  /img/images_reviews/image1_2x_tabl.png 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  /img/images_reviews/image1mob.png     1x,
                  /img/images_reviews/image1_2x_mob.png 2x
                "
                media="(max-width:767px)"
              />

              <img
                class="clients-photo"
                src="/img/images_reviews/image1desk.png"
                width="56"
                height="56"
                alt="Client 1"
              />
            </picture>
          </div>

          <div class="client-review">
            <h3 class="client-name">John Wax</h3>
            <p class="client-text">
              I rented the Lagoon 620 with my family for a week-long vacation
              and it was the best decision ever. The yacht was spacious,
              comfortable, and luxurious, and the crew took care of everything.
            </p>
          </div>
        </div>
      </li>

      <li class="clients-item hidden-2">
        <div class="reviews-card">
          <div class="clients-item-wrapper">
            <picture>
              <source
                srcset="
                  /img/images_reviews/image2desk.png     1x,
                  /img/images_reviews/image2_2x_desk.png 2x
                "
                media="(min-width:1280px)"
              />
              <source
                srcset="
                  /img/images_reviews/image2tabl.png     1x,
                  /img/images_reviews/image2_2x_tabl.png 2x
                "
                media="(min-width:768px)"
              />

              <img
                class="clients-photo"
                src="/img/images_reviews/image2desk.png"
                width="56"
                height="56"
                alt="Client 2"
              />
            </picture>
          </div>

          <div class="client-review">
            <h3 class="client-name">Victoria Romashenko</h3>
            <p class="client-text">
              The Sunseeker Manhattan 66 was the perfect choice for our romantic
              getaway. The yacht was beautifully designed, with all the
              amenities we needed, and the crew was attentive and friendly.
            </p>
          </div>
        </div>
      </li>

      <li class="clients-item hidden-3">
        <div class="reviews-card">
          <div class="clients-item-wrapper">
            <picture>
              <source
                srcset="
                  /img/images_reviews/image3desk.png     1x,
                  /img/images_reviews/image3_2x_desk.png 2x
                "
                media="(min-width:1280px)"
              />

              <img
                class="clients-photo"
                src="/img/images_reviews/image3desk.png"
                width="56"
                height="56"
                alt="Client 3"
              />
            </picture>
          </div>

          <div class="client-review hidden">
            <h3 class="client-name">Ihor Trachuk</h3>
            <p class="client-text">
              The Azimut 80 was the most luxurious yacht I've ever been on. The
              cabins were spacious and elegant, and the outdoor areas were
              perfect for relaxing and entertaining. Worth every penny!
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
