.container-Advantages {
  box-sizing: border-box;
}
.adv-container {
  background: #1b414b;
  border-radius: 24px;
  width: 335px;
  height: 642px;
  margin-bottom: 32px;
  margin-top: 80px;
  margin-left: 20px;
  margin-right: 20px;
}
.adv-list {
  padding: 70px 20px;
}

.adv-item-1 {
  width: 280px;
  margin-bottom: 40px;
}
.adv-item-2 {
  width: 292px;
  margin-bottom: 40px;
}
.adv-item-3 {
  width: 292px;
  margin-bottom: 40px;
}
.adv-item-4 {
  width: 292px;
}
/* .adv-line {
  border-radius: 18px;
  width: 290px;
  color: #fbfbfb;
} */
.adv-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: -0.05em;
  color: #fbfbfb;
  margin-bottom: 18px;
}
.adv-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  margin-top: 18px;
}
.adv-text-1 {
  width: 200px;
}
.adv-text-3 {
  width: 240px;
}
.adv-text-4 {
  width: 240px;
}
.adv-img {
  border-radius: 24px;
  width: 335px;
  height: 424px;
  margin-bottom: 80px;
  margin-left: 20px;
  margin-right: 20px;
}

.adv-container {
  background: #1b414b;
  width: 704px;
  height: 424px;
  margin-top: 150px;
  margin-left: 32px;
  margin-right: 32px;
}
.adv-title {
  font-weight: 500;
  font-size: 32px;
  color: #fbfbfb;
}
.adv-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  padding: 70px 32px;
}
.adv-text {
  font-weight: 400;
  font-size: 13px;
}
.adv-text-1 {
  width: 190px;
}
.adv-text-3 {
  width: 250px;
}

.adv-line {
  border-radius: 18px;
  width: 290px;
  color: #fbfbfb;
}
.adv-img {
  width: 704px;
  height: 424px;
  margin-bottom: 150px;
  margin-left: 32px;
  margin-right: 32px;
}
.adv-item-1 {
  width: 280px;
  margin-right: 32px;
  margin-bottom: 44px;
}
.adv-item-3 {
  width: 292px;
  margin-right: 32px;
}

.bloc-adv {
  display: flex;
}
.adv-container {
  background: #1b414b;
  width: 716px;
  height: 424px;
  margin-top: 150px;
  margin-bottom: 150px;
  margin-right: 0;
  margin-left: 50px;
}
.adv-list {
  padding: 70px 50px;
}
.adv-title {
  font-weight: 500;
  font-size: 32px;
}
.adv-text {
  font-weight: 400;
  font-size: 13px;
}
.adv-img {
  width: 432px;
  height: 424px;
  margin-top: 150px;
  margin-bottom: 150px;
  margin-right: 50px;
}
.adv-item-1 {
  margin-right: 44px;
  margin-bottom: 44px;
}
