.s2 {
  min-height: 812px;
  background-image: linear-gradient(
      360deg,
      rgba(17, 19, 31, 0.8) 15.05%,
      rgba(17, 19, 31, 0.8) 75.3%,
      rgba(17, 19, 31, 0.8) 98.27%
    ),
    url('../img/hero_bg_mob.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 260px 0 302px;
}

.hero-button {
  display: block;
  text-align: center;
  border-radius: 15px;
  padding: 14px 32px;
  /* width: 141px; */
  /* height: 46px; */
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  background-color: #1b414b;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  color: #1b414b;
  background: #fbfbfb;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .s2 {
    background-image: linear-gradient(
        360deg,
        rgba(17, 19, 31, 0.8) 15.05%,
        rgba(17, 19, 31, 0.8) 75.3%,
        rgba(17, 19, 31, 0.8) 98.27%
      ),
      url('../img/hero_bg_mob@2x.jpg');
  }
}

.hero-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  margin-bottom: 24px;
  /* width: 335px; */
}

.hero-description {
  font-weight: 300;
  font-size: 12px;
  line-height: 1.16667;
  text-align: center;
  color: rgba(251, 251, 251, 0.7);
  margin-bottom: 38px;
  /* width: 335px; */
  margin: 0 auto;
  margin-bottom: 48px;
}

.hero-button {
  font-size: 18px;
  line-height: 1.1;
  padding: 16px 40px;
  width: 179px;
  height: 52px;
  margin-left: auto;
  margin-right: auto;
}



@media screen and (min-width: 768px) {
  .s2 {
    min-height: 962px;
    background-image: linear-gradient(
        360deg,
        rgba(17, 19, 31, 0.8) 15.05%,
        rgba(17, 19, 31, 0.8) 75.3%,
        rgba(17, 19, 31, 0.8) 98.27%
      ),
      url('../img/hero_bg_tab.jpg');
    padding: 280px 0 282px;
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .s2 {
      background-image: linear-gradient(
          360deg,
          rgba(17, 19, 31, 0.8) 15.05%,
          rgba(17, 19, 31, 0.8) 75.3%,
          rgba(17, 19, 31, 0.8) 98.27%
        ),
        url('../img/hero_bg_tab@2x.jpg');
    }
  }
  .hero-title {
    font-size: 70px;
  }
  .hero-description {
    font-size: 16px;
    line-height: 1.4;
    max-width: 597px;
    margin: 0 auto 46px auto;
  }

  .hero-container {
    max-width: 768px;
  }
}

/*DESK*/

@media screen and (min-width: 1280px) {
  .s2 {
    min-height: 800px;
    background-image: linear-gradient(
        360deg,
        rgba(17, 19, 31, 0.8) 15.05%,
        rgba(17, 19, 31, 0.8) 75.3%,
        rgba(17, 19, 31, 0.8) 98.27%
      ),
      url('../img/hero_bg_desk.jpg');
    padding: 235px 0 215px;
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .s2 {
      background-image: linear-gradient(
          360deg,
          rgba(17, 19, 31, 0.8) 15.05%,
          rgba(17, 19, 31, 0.8) 75.3%,
          rgba(17, 19, 31, 0.8) 98.27%
        ),
        url('../img/hero_bg_desk@2x.jpg');
    }
  }
  .hero-title {
    max-width: 1001px;
    font-size: 80px;
    margin-left: auto;
    margin-right: auto;
  }
  .hero-description {
    margin-bottom: 48px;
  }

  .hero-container {
    max-width: 1280px;
  }
}
